/*Ex 1 drums*/

.drumsplayer {
  padding: 0;
  text-align: center;
}

.vintageshadow {
  width: fit-content;
  display: flex;
  background-image: url(media/123.jpg);
  background-repeat: repeat;
  padding-right: 2%;
  padding-bottom: 2%;
  margin: 5% auto;
}

.mycard {
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
  padding: 0;
  background-color: #d3f6f3;
  width: fit-content;
  border: 1px solid #251f44;
  margin-left: -2%;
  margin-top: -2%;
}
.falsetab {
  background-color: #fee9b2;
  border-bottom: 1px solid #251f44;
}
.falseclose {
  background-color: #fbd1b7;
  border-left: 1px solid #251f44;
  padding: 0 3px;
}

.instructions {
  margin: 1rem;
  margin-bottom: 0;
}

.keys {
  justify-content: center;
  font-weight: 200;
  padding: 1rem;
}

.key {
  background-color: #f9fce1;
  border: 2px solid #251f44;
  border-top: 3px solid white;
  border-left: 3px solid white;
  color: #fff;
  margin: 1rem;
  padding: 3px;
  text-align: center;
  transition: all 0.07s ease;
  width: 2.5rem;
}

.playing {
  transform: scale(1.1);
  background-color: #fbd1b7;
  border-top: 3px solid #fee9b2;
  border-left: 3px solid #fee9b2;
}

.sound {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #251f44;
}
/*Ex 2 Analogic clock*/
.clock {
  background: #018ded url(https://unsplash.it/1500/1000?image=881&blur=5);
  background-size: cover;
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px 50px;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.twelve {
  position: relative;
  left: 0;
  top: -6%;
}

.three {
  position: relative;
  left: 50%;
  top: 40%;
}

.six {
  position: relative;
  left: 0;
  top: 80%;
}

.nine {
  position: relative;
  left: -50%;
  top: 20%;
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;

  transform-origin: 100%;
  transform: rotate(90deg);
}

.hour-hand {
  width: 30%;
  margin: 0 20%;
  /*transition: all 3600s ease;*/
}

.min-hand {
}

.second-hand {
  height: 3px;
  transition: all 0.5s cubic-bezier(0.82, 0.29, 0, 1.7);
}

/*Ex 3 css*/

:root {
  --base: #fbd1b7;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  width: 50%;
  margin-bottom: 30px;
}

.hl {
  color: var(--base);
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

/*footer*/
footer {
  font-family: monospace;
  margin-left: -5%;
  text-align: center;
}

h3 {
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
}
h4 {
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
}
