.drumsplayer {
  padding: 0;
  text-align: center;
}

.vintageshadow {
  width: fit-content;
  display: flex;
  background-image: url(media/123.jpg);
  background-repeat: repeat;
  padding-right: 2%;
  padding-bottom: 2%;
  margin: 5% auto;
}

.mycard {
  font-family: "Press Start 2P", sans-serif;

  font-size: 1rem;
  padding: 0;
  background-color: #d3f6f3;
  width: fit-content;
  border: 1px solid #251f44;
  margin-left: -2%;
  margin-top: -2%;
}
.falsetab {
  background-color: #fee9b2;
  border-bottom: 1px solid #251f44;
}
.falseclose {
  background-color: #fbd1b7;
  border-left: 1px solid #251f44;
  padding: 0 3px;
}

.instructions {
  margin: 1rem;
  margin-bottom: 0;
}

.keys {
  justify-content: center;
  font-weight: 200;
  padding: 1rem;
}

.key {
  background-color: #f9fce1;
  border: 2px solid #251f44;
  border-top: 3px solid white;
  border-left: 3px solid white;
  color: #fff;
  margin: 1rem;
  padding: 3px;
  text-align: center;
  transition: all 0.07s ease;
  width: 2.5rem;
}

.playing {
  transform: scale(1.1);
  background-color: #fbd1b7;
  border-top: 3px solid #fee9b2;
  border-left: 3px solid #fee9b2;
}

.sound {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #251f44;
}

footer {
  font-family: monospace;
  margin-left: -5%;
}
